/*-env
**/.python-version
**/A. Segmentation
**/diaretdb1_v_1_1
**/.ipynb_checkpoints
**/lightning_logs
**/__pycache__
.vscode
**/desktop.ini
**/*.pth
**/wandb
**/lighting_logs
**/checkpoints_unet
.gitignore
**/checkpoints*
\!checkpoint_epoch1.pth